<div class="card">
  <p-table
    [value]="currentObjective()?.bpinActividades || []"
    [columns]="tableColumns"
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="p-datatable-gridlines rounded-table"
    showGridlines>
    <ng-template pTemplate="header">
      <tr>
        @for (col of tableColumns; track col.field) {
          <th class="text-sm p-3 text-white" [class.rounded-tl-lg]="$index === 0" style="background-color: #f5f6fa">
            {{ col.header }}
          </th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-activity let-rowIndex="rowIndex">
      @for (subActivity of activity.bpinSubActividades; track subActivity.id) {
        <tr class="text-sm">
          @if ($first) {
            <td [attr.rowspan]="activity.bpinSubActividades.length">{{ activity.codigo }}</td>
            <td [attr.rowspan]="activity.bpinSubActividades.length">{{ activity.nombre }}</td>
          }
          <td>{{ subActivity.codigo }}</td>
          <td>{{ subActivity.nombre }}</td>
        </tr>
      }
    </ng-template>
  </p-table>
</div>
