/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';
@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200';

.p-breadcrumb {
  background: transparent !important;
  padding: 5px 10px !important;
}

.p-dialog-header {
  padding-top: 6px !important;
  padding-bottom: 4px !important;
  border-bottom: 1px solid #b7b7b7 !important;
}
