<app-section-header [showBorder]="false">
  <div class="flex flex-col items-center pt-6">
    <span class="font-inter font-semibold text-[30px] leading-[150%] text-[#024955] mb-6">Planes operativos</span>
    <span class="font-inter font-normal text-[16px] leading-[24px] text-[#4B5563] mb-6 mx-10"
      >Selecciona una organización para explorar su plan operativo y conocer más sobre sus productos, hitos y entregables.</span
    >
  </div>

  <!-- searchbar -->
  <div class="flex justify-center w-1/2 mx-auto px-4">
    <input
      pInputText
      id="username"
      [placeholder]="'Buscar institución'"
      [style]="{ width: '100%' }"
      [(ngModel)]="this.body().searchText"
      autocomplete="off"
      (ngModelChange)="searchOrganizations()" />
  </div>

  <div class="container mx-auto px-4 py-8">
    @if (filteredOrganizations().length === 0) {
      <div class="flex justify-center items-center h-full w-full">
        <span class="font-inter font-normal text-[16px] leading-[24px] text-[#4B5563]">
          No existen organizaciones que coincidan con su búsqueda.
        </span>
      </div>
    } @else {
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        @for (org of filteredOrganizations(); track org.org_id) {
          @if (org.org_id !== 16) {
            <a class="flex items-center justify-center min-h-[200px] p-6 cursor-pointer" [routerLink]="org.org_id === 1 ? 'ciat' : null">
              <img [src]="org?.org_logo" [alt]="org.org_nombre_corto" class="w-[170px] object-contain" />
            </a>
          }
        }
      </div>
    }
  </div>
</app-section-header>
