<div class="w-full">
  <!-- Título y año -->
  <div class="mb-8">
    <div class="flex justify-between items-center">
      <div class="text-2xl font-semibold text-[#047F94]">Plan operativo Fedegan</div>
      <div class="text-gray-600 text-sm">Plan Operativo 2025</div>
    </div>
    <div class="text-gray-700 mt-2">
      <span class="font-medium">Eje 5 - Producto 12:</span> Red de colaboración identificada en al menos 3 territorios clave del proyecto
    </div>
  </div>

  <div class="bg-white rounded-lg shadow-md p-1">
    <!-- Tabs de subproductos -->
    <p-tabs [value]="1">
      <p-tablist>
        @for (subproducto of subproductos; track subproducto.id) {
          <p-tab [value]="subproducto.id" class="flex items-center !gap-2 text-inherit">
            <span>{{ subproducto.nombre }}</span>
          </p-tab>
        }
      </p-tablist>
    </p-tabs>
    <div class="mb-8 mt-4 py-5 px-10">
      <h2 class="text-xl font-semibold mb-4 text-[#024955]">
        Manejo de dieciocho parcelas de producción de ganadería convencional y sostenible establecidas en 2024 para el monitoreo de impactos
        ambientales.
      </h2>

      <!-- Sección de descripción y detalles -->
      <div class="flex justify-between mb-8">
        <div class="w-full">
          <div class="flex justify-between items-center mb-10 mt-8">
            <h3 class="text-lg font-medium">Descripción del subproducto</h3>
            <div class="text-[#64748B] text-sm font-medium cursor-pointer" (click)="dialogVisible.set({ value: true })">Ver detalle</div>
          </div>

          <!-- Cuadrícula de información -->
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <!-- ¿Qué se hará? -->
            <div class="bg-white p-4 rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.08)]">
              <h4 class="text-md font-medium text-[#024955] mb-2">¿Qué se hará?</h4>
              <p class="text-sm text-gray-700">
                Diseño e implementación de un plan de manejo detallado para dieciocho (18) parcelas de producción de ganadería convencional y
                sostenible implementadas en 2024 para el monitoreo de impactos ambientales.
              </p>
            </div>

            <!-- Metodología -->
            <div class="bg-white p-4 rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.08)]">
              <h4 class="text-md font-medium text-[#024955] mb-2">Metodología</h4>
              <p class="text-sm text-gray-700">
                Las parcelas instaladas corresponden a áreas piloto de manejo de ganadería convencional y ganadería sostenible que fueron instaladas
                en 2024 en las regiones priorizadas. Para su mantenimiento se debe generar e implementar un plan detallado.
              </p>
            </div>

            <!-- ¿Dónde se hará? -->
            <div class="bg-white p-4 rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.08)]">
              <h4 class="text-md font-medium text-[#024955] mb-2">¿Dónde se hará?</h4>
              <ul class="text-sm text-gray-700 list-none pl-0 gap-2 flex flex-col">
                <li class="mb-1 bg-[#E5E7EB] text-[#4B5563] w-max rounded-[20px] py-1 px-3">3 fincas en San Onofre (Sucre)</li>
                <li class="mb-1 bg-[#E5E7EB] text-[#4B5563] w-max rounded-[20px] py-1 px-3">3 fincas en Tame (Arauca)</li>
                <li class="mb-1 bg-[#E5E7EB] text-[#4B5563] w-max rounded-[20px] py-1 px-3">3 fincas en Guachucal (Nariño)</li>
              </ul>
            </div>

            <!-- ¿Cómo se reportará? -->
            <div class="bg-white p-4 rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.08)]">
              <h4 class="text-md font-medium text-[#024955] mb-2">¿Cómo se reportará?</h4>
              <p class="text-sm text-gray-700">
                Un (1) Documento en Word con actualizaciones por capítulos según período de reporte y anexos con información colectada en las
                parcelas.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Hitos del subproducto -->
      <div class="mb-8 flex flex-col gap-8">
        <h3 class="text-lg font-medium mb-4">Hitos del subproducto</h3>

        @for (hito of subproductos; track hito.id) {
          <!-- Hito 1 -->
          <div
            class="shadow-[0_4px_12px_rgba(0,0,0,0.06)] border border-[#E9EEF3] rounded-lg p-4 hover:shadow-[0_6px_16px_rgba(0,0,0,0.1)] transition-shadow duration-300">
            <div class="mb-6 border-2 border-[#F9F9F9] rounded-lg p-6 flex justify-between items-center">
              <div>
                <div class="flex items-center mb-4">
                  <div class="bg-[#059BB4] text-white rounded-full w-11 h-11 flex items-center justify-center mr-2 shadow-md">
                    <span class="text-xs">25%</span>
                  </div>
                  <div>
                    <span class="font-medium">Hito {{ hito.id }}</span>
                    <span class="text-gray-500 text-sm ml-2">Fecha esperada el viernes 30 de mayo 2025</span>
                  </div>
                  <div class="ml-2 px-3 py-1 bg-green-100 text-green-800 text-xs rounded-full shadow-sm">Pendiente</div>
                </div>

                <h4 class="text-md font-medium mb-2">Recolección y organización de datos</h4>

                <div class="mb-2">
                  <span class="text-sm font-medium">Entregables:</span>
                  <span class="text-sm text-gray-700 ml-1"
                    >Documento que detalla el proceso de recolección y organización de los datos agroclimáticos - Información agroclimática
                    recolectada - Diccionario de datos de la información recolectada.</span
                  >
                </div>

                <a class="text-sm text-[#059BB4] font-medium underline">Ver más</a>
              </div>
              <div class="flex justify-end w-[400px]">
                <!-- eslint-disable-next-line @angular-eslint/template/elements-content -->
                <button pButton type="button" icon="pi pi-plus-circle" label="Cargar entregable"></button>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>

<p-dialog [modal]="true" [(visible)]="dialogVisible().value" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap text-[#111827] text-lg">Información del subproducto</span>
    </div>
  </ng-template>
  <div class="p-5 flex flex-col gap-6">
    <!-- ¿Qué se hará? -->
    <div class="border border-[#E9EEF3] rounded-lg p-5 shadow-[0_4px_16px_rgba(0,0,0,0.03)]">
      <h3 class="text-lg font-medium text-[#024955] mb-3">¿Qué se hará?</h3>
      <div class="bg-white rounded-lg p-4 border border-[#F2F4F7]">
        <p class="text-gray-700">
          Diseño e implementación de un plan de manejo detallado para dieciocho (18) parcelas de producción de ganadería convencional y sostenible
          implementadas en 2024 para el monitoreo de impactos ambientales.
        </p>
      </div>
    </div>

    <!-- Metodología -->
    <div class="border border-[#E9EEF3] rounded-lg p-5 shadow-[0_4px_16px_rgba(0,0,0,0.03)]">
      <h3 class="text-lg font-medium text-[#024955] mb-3">Metodología</h3>
      <div class="bg-white rounded-lg p-4 border border-[#F2F4F7]">
        <p class="text-gray-700">
          La metodología para el análisis exploratorio de la información agroclimática disponible se basará en la recopilación y organización de datos
          relevantes, incluyendo variables climáticas, presencia de plagas, enfermedades y otros factores de interés. Se aplicarán técnicas de
          exploración y visualización de datos para identificar tendencias y relaciones significativas. Además, se evaluarán posibles patrones y
          riesgos asociados a la variabilidad agroclimática con el fin de proporcionar información útil anticipada para la gestión fitosanitaria.
        </p>
      </div>
    </div>

    <!-- ¿Dónde se hará? -->
    <div class="border border-[#E9EEF3] rounded-lg p-5 shadow-[0_4px_16px_rgba(0,0,0,0.03)]">
      <h3 class="text-lg font-medium text-[#024955] mb-3">¿Dónde se hará?</h3>
      <div class="bg-white rounded-lg p-4 border border-[#F2F4F7]">
        <div class="flex flex-wrap gap-2">
          <span class="bg-[#E5E7EB] text-[#4B5563] rounded-[20px] py-1 px-3">3 fincas en San Onofre (Sucre)</span>
          <span class="bg-[#E5E7EB] text-[#4B5563] rounded-[20px] py-1 px-3">3 fincas en Tame (Arauca)</span>
          <span class="bg-[#E5E7EB] text-[#4B5563] rounded-[20px] py-1 px-3">3 fincas en Guachucal (Nariño)</span>
        </div>
      </div>
    </div>

    <!-- ¿Cómo se reportará? -->
    <div class="border border-[#E9EEF3] rounded-lg p-5 shadow-[0_4px_16px_rgba(0,0,0,0.03)]">
      <h3 class="text-lg font-medium text-[#024955] mb-3">¿Cómo se reportará?</h3>
      <div class="bg-white rounded-lg p-4 border border-[#F2F4F7]">
        <p class="text-gray-700">
          Un (1) Documento en Word con actualizaciones por capítulos según período de reporte y anexos con información colectada en las parcelas.
        </p>
      </div>
    </div>
  </div>
</p-dialog>
