<div class="w-full">
  <!-- Título y año -->
  <div class="mb-8 mx-4">
    <div class="flex justify-between items-center">
      <div class="text-2xl font-semibold text-[#047F94]">Plan operativo Fedegan</div>
      <div class="text-gray-600 text-sm">Plan Operativo 2025</div>
    </div>
    <div class="text-gray-700 mt-2">
      <span class="font-medium">{{ currentProducto().ejes[0] }} - Producto {{ currentProducto().id_producto }}:</span>
      {{ currentProducto().nombre_producto }}
    </div>
  </div>

  <div class="bg-white rounded-lg shadow-md p-1">
    <!-- Tabs de subproductos -->
    <p-tabs [value]="0">
      <p-tablist>
        @for (subproducto of data().subproductos; track $index) {
          <p-tab (click)="getSubProductos($index)" [value]="$index" class="flex items-center !gap-2 text-inherit">
            <span>{{ subproducto.subproducto_index }}</span>
          </p-tab>
        }
      </p-tablist>
    </p-tabs>
    <div class="mb-8 mt-4 py-5 px-10">
      <h2 class="text-xl font-semibold mb-4 text-[#024955]">
        {{ currentSubproducto().nombre_subproducto }}
      </h2>

      <!-- Sección de descripción y detalles -->
      <div class="flex justify-between mb-8">
        <div class="w-full">
          <div class="flex justify-between items-center mb-10 mt-8">
            <h3 class="text-lg font-medium text-[#024955]">Descripción del subproducto</h3>
            <div class="text-[#64748B] text-sm font-medium cursor-pointer" (click)="dialogVisible.set({ value: true })">Ver detalle</div>
          </div>

          <!-- Cuadrícula de información -->
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <!-- ¿Qué se hará? -->
            <div class="bg-white p-4 rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.08)]">
              <h4 class="text-md font-medium text-[#024955] mb-2">¿Qué se hará?</h4>
              <p class="text-sm text-gray-500">
                {{ currentSubproducto().que_se_hara | textLimiter: 300 }}
              </p>
            </div>

            <!-- Metodología -->
            <div class="bg-white p-4 rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.08)]">
              <h4 class="text-md font-medium text-[#024955] mb-2">Metodología</h4>
              <p class="text-sm text-gray-500">
                {{ currentSubproducto().metodologia | textLimiter: 300 }}
              </p>
            </div>

            <!-- ¿Dónde se hará? -->
            <div class="bg-white p-4 rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.08)]">
              <h4 class="text-md font-medium text-[#024955] mb-2">¿Dónde se hará?</h4>
              <ul class="text-sm text-gray-700 list-none pl-0 gap-2 flex flex-col max-w-full">
                @for (lugar of currentSubproducto().lugares; track $index) {
                  <li class="mb-1 bg-[#E5E7EB] text-[#4B5563] rounded-[20px] py-1 px-3 truncate max-w-[100%] inline-block" [title]="lugar.nombre">
                    {{ lugar.nombre }}
                  </li>
                }
              </ul>
            </div>

            <!-- ¿Cómo se reportará? -->
            <div class="bg-white p-4 rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.08)]">
              <h4 class="text-md font-medium text-[#024955] mb-2">¿Cómo se reportará?</h4>
              <p class="text-sm text-gray-500">
                {{ currentSubproducto().como_se_reportara | textLimiter: 300 }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Hitos del subproducto -->
      <div class="mb-8 flex flex-col gap-8">
        <h3 class="text-lg font-medium mb-4">Hitos del subproducto</h3>

        @for (hito of currentSubproducto().hitos; track $index) {
          <!-- Hito 1 -->
          <div
            class="shadow-[0_4px_12px_rgba(0,0,0,0.06)] border border-[#E9EEF3] rounded-lg p-4 hover:shadow-[0_6px_16px_rgba(0,0,0,0.1)] transition-shadow duration-300">
            <div class="mb-6 border-2 border-[#F9F9F9] rounded-lg p-6 flex justify-between items-center">
              <div>
                <div class="flex items-center mb-4">
                  <div class="bg-[#059BB4] text-white rounded-full w-11 h-11 flex items-center justify-center mr-2 shadow-md">
                    <span class="text-xs">{{ hito.porcentaje }}%</span>
                  </div>
                  <div>
                    <span class="font-medium text-[#024955]">Hito {{ $index + 1 }} </span>
                    <span class="inline-block w-2 h-2 rounded-full bg-gray-300 mx-1"></span>
                    <span class="text-gray-500 text-sm ml-2">Fecha esperada: {{ hito.fecha_esperada | dateFormatter }}</span>
                  </div>
                  <!-- <div class="ml-2 px-3 py-1 bg-green-100 text-green-800 text-xs rounded-full shadow-sm">Pendiente</div> -->
                </div>

                <h4 class="text-md font-medium mb-2 text-[#024955]">{{ hito.nombre_hito }}</h4>

                <div class="mb-2">
                  <span class="text-sm font-medium text-[#556376]">Entregables:</span>
                  @if (hito.entregables && hito.entregables.length > 0) {
                    <ul class="mt-1 space-y-1">
                      @for (entregable of hito.entregables; track entregable.id) {
                        <li class="text-sm text-gray-700 flex items-center">
                          <span class="w-1.5 h-1.5 bg-gray-400 rounded-full mr-2"></span>
                          {{ entregable.nombre }}
                          @if (!entregable.descripcion) {
                            <span class="text-red-500 text-xs ml-2">(Sin descripción)</span>
                          }
                        </li>
                      }
                    </ul>
                  } @else {
                    <p class="text-gray-500 text-sm mt-1">No hay datos disponibles</p>
                  }
                </div>

                <a
                  class="text-sm text-[#059BB4] font-medium underline cursor-pointer"
                  (click)="showCurrentHito.set({ value: true }); currentHito.set(hito)"
                  >Ver más</a
                >
              </div>
              <div class="flex justify-end w-[400px]">
                <!-- eslint-disable-next-line @angular-eslint/template/elements-content -->
                <button disabled pButton type="button" icon="pi pi-plus-circle" label="Cargar entregable"></button>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>

<p-dialog [modal]="true" [(visible)]="dialogVisible().value" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap text-[#111827] text-lg">Información del subproducto</span>
    </div>
  </ng-template>
  <div class="p-5 flex flex-col gap-6">
    <!-- ¿Qué se hará? -->
    <div class="border border-[#E9EEF3] rounded-lg p-5 shadow-[0_4px_16px_rgba(0,0,0,0.03)]">
      <h3 class="text-lg font-medium text-[#036475] mb-3">¿Qué se hará?</h3>
      <div class="bg-white rounded-lg p-4 border border-[#F2F4F7]">
        <p class="text-gray-700">
          {{ currentSubproducto().que_se_hara }}
        </p>
      </div>
    </div>

    <!-- Metodología -->
    <div class="border border-[#E9EEF3] rounded-lg p-5 shadow-[0_4px_16px_rgba(0,0,0,0.03)]">
      <h3 class="text-lg font-medium text-[#036475] mb-3">Metodología</h3>
      <div class="bg-white rounded-lg p-4 border border-[#F2F4F7]">
        <p class="text-gray-700">
          {{ currentSubproducto().metodologia }}
        </p>
      </div>
    </div>

    <!-- ¿Dónde se hará? -->
    <div class="border border-[#E9EEF3] rounded-lg p-5 shadow-[0_4px_16px_rgba(0,0,0,0.03)]">
      <h3 class="text-lg font-medium text-[#036475] mb-3">¿Dónde se hará?</h3>
      <div class="bg-white rounded-lg p-4 border border-[#F2F4F7]">
        <div class="flex flex-wrap gap-2 w-full">
          @for (lugar of currentSubproducto().lugares; track $index) {
            <span class="bg-[#E5E7EB] text-[#4B5563] rounded-[20px] py-1 px-3 truncate inline-block" [title]="lugar.nombre">{{ lugar.nombre }}</span>
          }
        </div>
      </div>
    </div>

    <!-- ¿Cómo se reportará? -->
    <div class="border border-[#E9EEF3] rounded-lg p-5 shadow-[0_4px_16px_rgba(0,0,0,0.03)]">
      <h3 class="text-lg font-medium text-[#036475] mb-3">¿Cómo se reportará?</h3>
      <div class="bg-white rounded-lg p-4 border border-[#F2F4F7]">
        <p class="text-gray-700">
          {{ currentSubproducto().como_se_reportara }}
        </p>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog [modal]="true" [(visible)]="showCurrentHito().value" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap text-[#111827] text-lg">Entregables del hito</span>
    </div>
  </ng-template>
  <div class="p-5 flex flex-col gap-6">
    @if (currentHito().entregables && currentHito().entregables.length > 0) {
      @for (entregable of currentHito().entregables; track $index) {
        <div class="bg-white rounded-lg p-6 border border-[#E9EEF3] mb-6">
          <h4 class="font-inter font-semibold text-[18px] leading-[120%] align-middle text-[#036475] mb-4">
            Entregable {{ $index + 1 }}: {{ entregable.nombre }}
          </h4>
          <div class="rounded-lg p-5 border border-[#E5E7EB]">
            @if (entregable.descripcion) {
              <p class="font-inter font-normal text-[16px] leading-[170%] align-middle text-[#4B5563]">
                {{ entregable.descripcion }}
              </p>
            } @else {
              <p class="font-inter font-normal text-[16px] leading-[170%] align-middle text-red-500">
                Aún no se ha añadido una descripción del alcance de este entregable1
              </p>
            }
          </div>
        </div>
      }
    } @else {
      <div class="bg-white rounded-lg p-6 border border-[#E9EEF3] mb-6">
        <p class="text-red-500 text-center">No hay datos disponibles</p>
      </div>
    }
  </div>
</p-dialog>
