<div class="flex items-center justify-center h-[70px] border-b" style="border-color: #047F94;">
  <img src="logo.png" alt="" class="h-[80px]">
</div>
<div class="font-inter font-medium pl-8 pt-8 text-[14px] leading-[21px] text-[#BDBDBD]">Explorar</div>
@for (item of menuItems(); track item.label) {
  <div class="flex items-center gap-2 pl-8 py-4 hover:bg-[#165863] hover:text-[#34ca6b] rounded cursor-pointer" >
    <div class="pi {{ item.icon }}"></div>
    <div >{{ item.label }}</div>
  </div>
}
<div class="border-b pb-4 mx-8" style="border-color: #047F94"></div>
<div class="font-inter font-medium pl-8 pt-4 text-[14px] leading-[21px] mt-4 text-[#BDBDBD]">Cuenta</div>
@for (item of accountItems(); track item.label) {
  <div class="flex items-center gap-2 pl-8 py-4 hover:bg-[#165863] hover:text-[#34ca6b] rounded cursor-pointer" >
    <div class="pi {{ item.icon }}"></div>
    <div >{{ item.label }}</div>
  </div>
}
<div class="border-b pb-4 mx-8" style="border-color: #047F94"></div>
<div class="flex items-center justify-center">
<div class="font-inter font-normal text-[8px] leading-[12px] text-[#059BB4] mt-6">Estás conectado como Administrador</div>
</div>
