<div
  class="w-70 bg-[#1B4B5A] text-white h-full transition-all duration-300"
  [ngClass]="{ '!w-[68px]': cache.isSidebarCollapsed(), '!min-w-auto': cache.isSidebarCollapsed() }">
  <div
    class="flex items-center justify-center h-[70px] border-b cursor-pointer"
    style="border-color: #047f94"
    [ngClass]="{ 'h-[80px]': cache.isSidebarCollapsed() }"
    routerLink="/">
    <img src="logo.png" alt="" class="h-[80px]" [ngClass]="{ hidden: cache.isSidebarCollapsed() }" />
    <img src="logo-white.png" alt="" class="h-[60px]" [ngClass]="{ hidden: !cache.isSidebarCollapsed() }" />
  </div>

  <div class="flex items-center pl-8 pt-8 gap-4 mb-2" [ngClass]="{ '!pl-5': cache.isSidebarCollapsed(), '!pt-4': cache.isSidebarCollapsed() }">
    <div class="font-inter font-medium text-[14px] leading-[21px] text-[#BDBDBD]" [ngClass]="{ hidden: cache.isSidebarCollapsed() }">Explorar</div>

    <i
      class="pi pi-chevron-left bg-white text-[#EAB308] rounded-full p-2 cursor-pointer"
      style="font-size: 10px"
      [ngClass]="{ 'pi-chevron-right': cache.isSidebarCollapsed(), 'pi-chevron-left': !cache.isSidebarCollapsed() }"
      (click)="cache.toggleSidebar()"></i>
  </div>

  @for (item of menuItems(); track item.label) {
    <div
      class="flex items-center gap-2 px-8 py-4 hover:bg-[#165863] hover:text-[#34ca6b] rounded cursor-pointer"
      [ngClass]="{ 'opacity-50 cursor-not-allowed': item.disabled, '!px-6': cache.isSidebarCollapsed() }"
      [routerLink]="item.disabled ? null : item.path"
      routerLinkActive="bg-[#165863] text-[#34ca6b]"
      [pTooltip]="cache.isSidebarCollapsed() ? item.label : ''"
      tooltipPosition="right">
      <div class="pi {{ item.icon }}" [ngStyle]="{ 'font-size': cache.isSidebarCollapsed() ? '18px' : '16px' }"></div>
      <div class="text-nowrap" [ngClass]="{ hidden: cache.isSidebarCollapsed() }">{{ item.label }}</div>
    </div>
  }

  <div
    class="border-b pb-4 mx-8"
    style="border-color: #047f94"
    [ngClass]="{ '!mx-0': cache.isSidebarCollapsed(), '!pb-0': cache.isSidebarCollapsed() }"></div>

  <div
    class="font-inter font-medium pl-8 pt-4 text-[14px] leading-[21px] mt-4 mb-2 text-[#BDBDBD]"
    [ngClass]="{ hidden: cache.isSidebarCollapsed() }">
    Cuenta
  </div>

  @for (item of accountItems(); track item.label) {
    <div
      class="flex items-center gap-2 px-8 py-4 hover:bg-[#165863] hover:text-[#34ca6b] rounded cursor-pointer"
      [ngClass]="{ 'opacity-50 cursor-not-allowed': item.disabled, '!px-6': cache.isSidebarCollapsed() }"
      [routerLink]="item.disabled ? null : item.path"
      routerLinkActive="bg-[#165863] text-[#34ca6b]"
      [pTooltip]="cache.isSidebarCollapsed() ? item.label : ''"
      tooltipPosition="right"
      (click)="item.action ? item.action() : null">
      <div class="pi {{ item.icon }}"></div>
      <div class="text-nowrap" [ngClass]="{ hidden: cache.isSidebarCollapsed() }">{{ item.label }}</div>
    </div>
  }
  <div class="border-b pb-4 mx-8" style="border-color: #047f94" [ngClass]="{ hidden: cache.isSidebarCollapsed() }"></div>

  <div class="flex items-center justify-center" [ngClass]="{ hidden: cache.isSidebarCollapsed() }">
    <div class="font-inter font-normal text-[8px] leading-[12px] text-[#059BB4] mt-6">Estás conectado como Administrador</div>
  </div>
</div>
