<!-- Header / Hero Section -->
<div class="h-[100%] p-5">
  <div class="relative w-full rounded-lg overflow-hidden">
    <!-- Fondo - abarca todo el ancho y alto -->
    <div class="absolute inset-0">
      <img src="/hero-section/bg.png" alt="Fondo" class="w-full h-full object-cover object-center" />
    </div>

    <!-- Contenido del Header -->
    <div class="relative w-full flex flex-wrap">
      <!-- Imagen del personaje - visible solo en pantallas grandes -->
      <div class="hidden lg:block w-2/5 h-[400px] overflow-hidden max-w-[464px]">
        <img [src]="getUserPanelData()?.path" [alt]="getUserPanelData()?.alt" class="w-full h-full object-cover object-right" />
      </div>

      <!-- Texto - ocupa todo el ancho en móviles y pantallas medianas, 3/5 en pantallas grandes -->
      <div class="w-full lg:w-3/5 flex flex-col justify-center p-6 lg:pl-4 lg:pr-16" style="min-height: 350px">
        <h1 class="text-3xl md:text-4xl font-bold text-[#024955] mb-2">¡Bienvenido!</h1>
        <h2 class="text-xl md:text-2xl font-medium text-[#C79807] mb-4 md:mb-6">Panel de {{ getUserPanelData()?.title }} de CAS Reporting Tool</h2>
        <p class="font-inter font-light text-base leading-6 text-[#616161]">
          {{ getUserPanelData()?.description }}
        </p>
      </div>
    </div>
  </div>

  <!-- Sección de Acciones Principales -->
  <div class="py-10 px-4 md:px-10">
    <h2 class="font-medium text-[24px] leading-[150%] tracking-[0px] align-middle text-[#C79807] mb-8">Acciones principales</h2>
    <div class="flex flex-col md:flex-row gap-6 justify-center">
      @for (option of getUserPanelData()?.options ?? []; track option.title) {
        <div class="bg-white rounded-lg shadow-sm p-0 flex flex-col w-full md:w-[380px] max-w-[380px]">
          <img [src]="option.img" alt="option image" class="rounded-t-lg w-full h-[180px] object-cover" />
          <div class="flex flex-col p-5">
            <h3 class="text-xl font-semibold text-[#195B5B] mb-2">{{ option.title }}</h3>
            <p class="text-[#616161] text-sm mb-4">{{ option.description }}</p>
            <a [routerLink]="option.path" class="mt-auto">
              <button pButton type="button" class="bg-[#1976D2] text-white py-2 px-4 rounded-md w-full md:w-auto">
                Ver {{ option.title.toLowerCase() }}
              </button>
            </a>
          </div>
        </div>
      }
    </div>
  </div>
</div>
