<app-section-header [showBorder]="false">
  <div class="mx-auto px-4 py-20 h-full">
    <!-- Título principal -->
    <h1 class="font-inter font-medium text-[30px] leading-[150%] tracking-[0px] text-center text-[#183462] mb-4">Arquitectura CAS</h1>

    <!-- Descripción -->
    <p class="font-inter font-normal text-[16px] leading-[24px] tracking-[0%] text-[#4B5563] text-center mb-25 max-w-4xl mx-auto">
      La Arquitectura CAS agrupa y establece los elementos que permitirán dar dirección y organización a la definición del plan operativo del CIAT y
      Asociados en cada vigencia de ejecución del proyecto.
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-x-16 gap-y-10 w-full justify-items-center">
      <!-- Opción 1 -->
      <a [routerLink]="'/arquitectura/componentes-y-ejes'" class="flex flex-col items-center group cursor-pointer gap-8">
        <img src="/images/arquitectura/rounded-1.png" alt="Componentes y ejes" class="w-48 h-48 min-w-48 min-h-48 object-cover rounded-full mb-4" />
        <span class="block font-inter font-semibold text-[20px] leading-[150%] tracking-[0px] text-center align-middle text-[#195B5B] text-center"
          >Componentes y ejes</span
        >
      </a>
      <!-- Opción 2 -->
      <a [routerLink]="'/arquitectura/ficha-bpin'" class="flex flex-col items-center group cursor-pointer gap-8">
        <img src="/images/arquitectura/rounded-2.png" alt="Ficha BPIN" class="w-48 h-48 min-w-48 min-h-48 object-cover rounded-full mb-4" />
        <span class="block font-inter font-semibold text-[20px] leading-[150%] tracking-[0px] text-center align-middle text-[#195B5B] text-center"
          >Ficha BPIN</span
        >
      </a>
      <!-- Opción 3 -->
      <div class="flex flex-col items-center gap-8 opacity-50 cursor-not-allowed">
        <img src="/images/arquitectura/rounded-3.png" alt="Ficha GCF" class="w-48 h-48 min-w-48 min-h-48 object-cover rounded-full mb-4" />
        <span class="block font-inter font-semibold text-[20px] leading-[150%] tracking-[0px] text-center align-middle text-[#195B5B] text-center"
          >Ficha GCF</span
        >
      </div>
      <!-- Opción 4 -->
      <a [routerLink]="'/arquitectura/organizaciones'" class="flex flex-col items-center group cursor-pointer gap-8">
        <img src="/images/arquitectura/rounded-4.png" alt="Organizaciones" class="w-48 h-48 min-w-48 min-h-48 object-cover rounded-full mb-4" />
        <span class="block font-inter font-semibold text-[20px] leading-[150%] tracking-[0px] text-center align-middle text-[#195B5B] text-center"
          >Organizaciones</span
        >
      </a>
    </div>
  </div>
</app-section-header>
