<div class="bg-white rounded-t-xl relative shadow-xs">
  <div
    class="font-inter font-semibold text-[18px] text-[#036475] flex justify-between items-center"
    [class.px-6]="showHorizontalPadding"
    [class.py-4]="showVerticalPadding">
    <div class="flex items-center">
      {{ header }}
      @if (tagName) {
        <span class="bg-yellow-500 text-white text-sm font-semibold px-3 py-1 rounded-full ml-2"> {{ tagName }} </span>
      }
    </div>
    <div class="actions">
      <ng-content select="[actions]"></ng-content>
    </div>
  </div>
  @if (showBorder) {
    <div class="border-b border-gray-300"></div>
  }
  <div class="py-1 px-1" [class.items-start]="!centered" [class.items-center]="centered">
    <ng-content></ng-content>
  </div>
</div>
