input {
  width: 100%;
}
::ng-deep .p-inputnumber-increment-button,
::ng-deep .p-inputnumber-decrement-button {
  background-color: #173f6f !important;
  color: white !important;

  &:hover {
    background-color: #173f6f !important;
  }
}

::ng-deep .p-inputnumber {
  width: 100% !important;
}
