<app-section-header [header]="'Lista de organizaciones'" [centered]="false">
  <div
    class="card m-8 overflow-hidden transition- duration-300"
    [ngClass]="{
      'max-w-[calc(100vw-180px)]': cache.isSidebarCollapsed(),
      'max-w-[calc(100vw-392px)]': !cache.isSidebarCollapsed()
    }">
    <p-table
      [value]="organizations()"
      [columns]="tableColumns()"
      [tableStyle]="{ 'min-width': '50rem' }"
      styleClass="p-datatable-gridlines rounded-table"
      [scrollable]="true"
      scrollHeight="calc(100vh - 330px)"
      showGridlines>
      <ng-template pTemplate="header">
        <tr>
          @for (col of tableColumns(); track col.field) {
            <th
              class="text-base p-3 text-white"
              [style.min-width]="col.minWidth"
              [class.rounded-tl-lg]="$index === 0"
              [class.rounded-tr-lg]="$index === tableColumns().length - 1"
              style="background-color: #f5f6fa">
              {{ col.header }}
            </th>
          }
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-organization let-rowIndex="rowIndex">
        @if (organization.organizacionesContactos && organization.organizacionesContactos.length > 0) {
          @for (organizationContact of organization.organizacionesContactos; track organizationContact.id) {
            @if ($index === 0) {
              <tr>
                <td [attr.rowspan]="organization.organizacionesContactos.length">{{ organization.nombre_corto }}</td>
                <td [attr.rowspan]="organization.organizacionesContactos.length">{{ organization.nombre }}</td>
                <td [attr.rowspan]="organization.organizacionesContactos.length">{{ organization.tipo_organizacion }}</td>
                <td [attr.rowspan]="organization.organizacionesContactos.length">{{ organization.proposito }}</td>
                <td [attr.rowspan]="organization.organizacionesContactos.length">{{ organization.sistemas_productivos }}</td>
                <td [attr.rowspan]="organization.organizacionesContactos.length">
                  <div class="flex items-center gap-2">
                    <i class="pi pi-globe" style="color: #708090"></i>
                    <a class="text-blue-500" href="{{ organization.sitio_web }}" target="_blank">{{ organization.sitio_web }}</a>
                  </div>
                  <br />
                  <div class="flex items-center gap-2">
                    <i class="pi pi-envelope" style="color: #708090"></i>
                    <a class="text-blue-500" href="mailto:{{ organization.email }}">{{ organization.email }}</a>
                  </div>
                  <br />
                  <div class="flex items-center gap-2">
                    <i class="pi pi-phone" style="color: #708090"></i>
                    <span>{{ organization.numero_telefono }}</span>
                  </div>
                </td>
                <td>
                  <div>
                    <strong>{{ organization.organizacionesContactos[0].nombre_contacto }}</strong> - {{ organization.organizacionesContactos[0].rol }}
                  </div>
                  <br />
                  <div class="flex items-center gap-2">
                    <i class="pi pi-envelope" style="color: #708090"></i>
                    <a class="text-blue-500" href="mailto:{{ organization.organizacionesContactos[0].email_contacto }}">{{
                      organization.organizacionesContactos[0].email_contacto
                    }}</a>
                  </div>
                </td>
                <td [attr.rowspan]="organization.organizacionesContactos.length">{{ organization.direccion }}</td>
                <td [attr.rowspan]="organization.organizacionesContactos.length">
                  <a class="text-blue-500" href="{{ organization.logo }}" target="_blank">{{ organization.logo }}</a>
                </td>
              </tr>
            } @else {
              <tr>
                <td>
                  <div>
                    <strong>{{ organization.organizacionesContactos[$index].nombre_contacto }}</strong> -
                    {{ organization.organizacionesContactos[$index].rol }}
                  </div>
                  <br />
                  <div class="flex items-center gap-2">
                    <i class="pi pi-envelope" style="color: #708090"></i>
                    <a class="text-blue-500" href="mailto:{{ organization.organizacionesContactos[$index].email_contacto }}">{{
                      organization.organizacionesContactos[$index].email_contacto
                    }}</a>
                  </div>
                </td>
              </tr>
            }
          }
        } @else {
          <tr>
            <td>{{ organization.nombre_corto }}</td>
            <td>{{ organization.nombre }}</td>
            <td>{{ organization.tipo_organizacion }}</td>
            <td>{{ organization.proposito }}</td>
            <td>{{ organization.sistemas_productivos }}</td>
            <td>
              <div class="flex items-center gap-2">
                <i class="pi pi-globe" style="color: #708090"></i>
                <a class="text-blue-500" href="{{ organization.sitio_web }}" target="_blank">{{ organization.sitio_web }}</a>
              </div>
              <br />
              <div class="flex items-center gap-2">
                <i class="pi pi-envelope" style="color: #708090"></i>
                <a class="text-blue-500" href="mailto:{{ organization.email }}">{{ organization.email }}</a>
              </div>
              <br />
              <div class="flex items-center gap-2">
                <i class="pi pi-phone" style="color: #708090"></i>
                <span>{{ organization.numero_telefono }}</span>
              </div>
            </td>
            <td>No hay datos de contacto</td>
            <td>{{ organization.direccion }}</td>
            <td>
              <a class="text-blue-500" href="{{ organization.logo }}" target="_blank">{{ organization.logo }}</a>
            </td>
          </tr>
        }
      </ng-template>
    </p-table>
  </div>
</app-section-header>
