<app-section-header header="Plan Operativo - Alliance Bioversity & CIAT" tagName="2025" [centered]="false">
  <div class="mx-8">
    <p-tabs [value]="1">
      <p-tablist>
        @for (objective of objectives(); track objective.id_obj) {
          @let index = $index + 1;
          <p-tab (click)="setCurrentActivities(index)" [value]="index">Objetivo {{ index }} </p-tab>
        }
      </p-tablist>
    </p-tabs>
    <div class="flex font-inter font-normal leading-6 text-[#6B7280] my-8">
      Generar oferta tecnológica y conocimiento por parte de los productores para la adaptación y mitigación del cambio climático.
    </div>
    <div class="card max-w-[calc(100%-300px)] overflow-hidden">
      <p-table [value]="currentActivitiesWithRowspan()" [scrollable]="true" styleClass="p-datatable-gridlines rounded-table" showGridlines>
        <ng-template pTemplate="header">
          <tr>
            @for (col of columns; track $index) {
              <th
                class="text-base p-3 text-white"
                [class.rounded-tl-lg]="$index === 0"
                [class.rounded-tr-lg]="$index === columns.length - 1"
                style="min-width: 200px !important; background-color: #f5f6fa">
                {{ col.header }}
              </th>
            }
            <!-- <th class="text-base p-3 text-white rounded-tr-lg" style="background-color: #f5f6fa">Acciones</th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-activity>
          <tr>
            @if (activity.rowspan > 0) {
              <td [attr.rowspan]="activity.rowspan">{{ activity.nombre_actv }}</td>
            }
            <td>{{ activity.nombre_subActv }}</td>
            <td>{{ activity.axis }}</td>
            <td>{{ activity.responsible }}</td>
            <td>{{ activity.productNumber }}</td>
            <td>{{ activity.product }}</td>
            <td>{{ activity.productDescription }}</td>
            <td>{{ activity.deliveryDate | date: 'dd/MM/yyyy' }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</app-section-header>
