<div class="flex items-center justify-between pt-2 pb-6 px-4">
  <span class="font-inter font-medium text-2xl leading-[1.5] tracking-normal align-middle text-[#047F94]">Plan operativo CIAT</span>
  <div class="flex items-center gap-4">
    <span class="font-inter font-medium text-sm leading-7 tracking-normal align-middle text-[#9E9E9E]">Plan Operativo 2025</span>
    <p-button
      icon="pi pi-download"
      [loading]="loadingDownload()"
      size="small"
      [style]="{
        'background-color': '#059BB4',
        border: '1px solid #047F94',
        color: 'white',
        'white-space': 'nowrap',
        'min-width': 'fit-content',
        cursor: 'pointer'
      }"
      label="Descargar plan operativo"
      (click)="downloadExcel()"></p-button>
  </div>
</div>

<app-section-header [showBorder]="false" [showVerticalPadding]="false" [showHorizontalPadding]="false">
  <p-tabs [value]="1">
    <p-tablist>
      @for (objective of objectives(); track objective.id_obj) {
        @let index = $index + 1;
        <p-tab (click)="setCurrentActivities($index)" [value]="index">Objetivo {{ index }} </p-tab>
      }
    </p-tablist>
  </p-tabs>

  <div class="mx-8">
    @if (objectives()[activeObjectiveIndex()]) {
      <div class="flex items-center justify-between my-8 gap-6">
        <div class="flex font-inter font-normal leading-6 text-[#6B7280]">
          {{ objectives()[activeObjectiveIndex()].nombre_obj }}
        </div>
      </div>
    }

    <div
      class="card overflow-hidden transition- duration-300"
      [ngClass]="{
        'max-w-[calc(100vw-180px)]': cache.isSidebarCollapsed(),
        'max-w-[calc(100vw-392px)]': !cache.isSidebarCollapsed()
      }">
      <p-table
        [value]="currentActivities()"
        [scrollable]="false"
        styleClass="p-datatable-gridlines rounded-table"
        [tableStyle]="{ border: 'solid 1px #f5f6fa' }"
        showGridlines
        [scrollable]="true"
        scrollHeight="calc(100vh - 430px)">
        <ng-template pTemplate="header">
          <tr>
            @for (col of columns; track $index) {
              <th
                class="text-base p-3 text-white"
                [class.rounded-tl-lg]="$index === 0"
                [class.rounded-tr-lg]="$index === columns.length - 1"
                [style.min-width]="col.minWidth"
                style="background-color: #f5f6fa">
                {{ col.header }}
              </th>
            }
            @if (!isCiat()) {
              <th>información</th>
            }
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-activity>
          @if (activity?.subactividades?.length === 0) {
            <tr style="height: 50px">
              <td>{{ activity.nombre_actv }}</td>
              <td colspan="8">No se encontraron subactividades</td>
            </tr>
          } @else {
            @for (subactivity of activity.subactividades; track $index; let isFirst = $first) {
              @if (subactivity?.productos && subactivity?.productos?.length > 0) {
                @for (product of subactivity?.productos; track product.id; let productIndex = $index) {
                  <tr>
                    @if (isFirst && productIndex === 0) {
                      <td [attr.rowspan]="calculateTotalRows(activity)">Actividad {{ activity?.nombre_actv || '' }}</td>
                    }

                    @if (productIndex === 0) {
                      <td [attr.rowspan]="subactivity?.productos?.length">Subactividad {{ subactivity?.nombre_subActv || '' }}</td>
                    }
                    @if (productIndex === 0) {
                      <td [attr.rowspan]="subactivity?.productos?.length">
                        {{ formatCurrency(subactivity?.presupuesto) }}
                      </td>
                    }

                    <td>
                      {{ formatArrayWithConjunction(product?.ejes) }}
                    </td>

                    <td>
                      {{ formatArrayWithConjunction(product?.responsables) }}
                    </td>

                    <td>
                      {{ product?.codigo || '' }}
                    </td>

                    <td>
                      Producto {{ product?.codigo }}.
                      {{ product?.nombre_prod || '' }}
                    </td>

                    <td>{{ product?.descripcion || '' }}</td>

                    <td class="capitalize">
                      {{ (product?.fechaEntrega | date: 'MMMM yyyy') || '' }}
                    </td>
                    @if (!isCiat()) {
                      <td>
                        <a
                          routerLink="/planes-operativos/ver-subproductos/5"
                          routerLinkActive="router-link-active"
                          class="text-blue-500 cursor-pointer underline"
                          >Ver detalle</a
                        >
                      </td>
                    }
                  </tr>
                }
              } @else {
                <tr>
                  @if (isFirst) {
                    <td [attr.rowspan]="calculateTotalRows(activity)">
                      {{ activity?.nombre_actv }}
                    </td>
                  }

                  <td>
                    {{ subactivity?.nombre_subActv }}
                  </td>

                  <td>{{ formatCurrency(subactivity?.presupuesto) }}</td>

                  <td [attr.colspan]="6">No hay informacion de productos</td>
                </tr>
              }
            }
          }
        </ng-template>
      </p-table>
    </div>
  </div>
</app-section-header>
