<div class="container grid p-8 grid-cols-[1fr_30%] h-[calc(100%-60px)] bg-[#FAFAFA] gap-6">
  <div class="grid rounded-2xl border border-[#E9EEF3] gap-6 p-6">
    <div class="grid gap-4">
      <span
        class="font-inter font-semibold text-lg leading-[120%] tracking-normal align-middle text-[#036475]">
        Entregable principal
      </span>
      <div class="grid gap-2">
        <span
          class="font-inter font-medium text-sm leading-5 tracking-normal align-middle text-[#4B5563]">
          Cargue el documento principal del entregable
        </span>

        <div class="card flex justify-center">
          <p-toast />
          <p-fileUpload
            mode="basic"
            name="demo[]"
            chooseIcon="pi pi-upload"
            url="https://www.primefaces.org/cdn/api/upload.php"
            accept="image/*"
            maxFileSize="1000000"
            [auto]="true"
            chooseLabel="Browse" />
        </div>
      </div>
    </div>

    <div class="grid gap-2">
      <span
        class="font-inter font-medium text-sm leading-5 tracking-normal align-middle text-[#4B5563]">
        Descripción del entregable
      </span>
      <app-textarea
        placeholder="Ingresa una descripción"
        optionValue="description"
        [rows]="10"
        [cols]="70" />
    </div>
  </div>

  <div class="grid rounded-2xl border border-[#E9EEF3] p-6 h-fit self-start">
    <div class="grid gap-4">
      <span class="font-inter font-semibold text-lg leading-[120%] tracking-normal text-[#036475]">
        Información del entregable
      </span>
      <div class="grid gap-2">
        <span
          class="font-inter font-medium text-sm leading-5 tracking-normal align-middle text-[#4B5563]">
          Producto
        </span>
        <app-input placeholder="Producto 1" optionValue="productName" />
      </div>
      <div class="flex gap-4">
        <div class="grid gap-2">
          <span class="font-inter font-medium text-sm leading-5 tracking-normal text-[#4B5563]">
            Subproducto
          </span>
          <app-input placeholder="Subproducto 1.1" optionValue="version" />
        </div>
        <div class="grid gap-2">
          <span class="font-inter font-medium text-sm leading-5 tracking-normal text-[#4B5563]">
            Hito
          </span>
          <app-input placeholder="Hito 1" optionValue="version" />
        </div>
      </div>
      <span
        class="font-inter font-medium text-sm leading-5 tracking-normal align-middle text-[#4B5563]">
        Agregue los anexos de su entregable
      </span>
      <div class="card flex justify-center">
        <p-toast />
        <p-fileUpload
          mode="basic"
          name="demo[]"
          chooseIcon="pi pi-upload"
          url="https://www.primefaces.org/cdn/api/upload.php"
          accept="image/*"
          maxFileSize="1000000"
          [auto]="true"
          chooseLabel="Browse" />
      </div>
    </div>
  </div>
</div>
