<div class="container grid p-8 grid-cols-[1fr_30%] h-[calc(100%-60px)] bg-[#FAFAFA] gap-8">
  <div class="grid rounded-2xl border border-[#E9EEF3] gap-12 p-6">
    <div class="grid gap-6">
      <span
        class="font-inter font-semibold text-lg leading-[120%] tracking-normal align-middle text-[#036475]">
        Entregable principal
      </span>
      <span
        class="font-inter font-medium text-sm leading-5 tracking-normal align-middle text-[#4B5563]">
        Cargue el documento principal del entregable
      </span>

      <div class="card flex justify-center">
        <p-toast />
        <p-fileUpload
          mode="basic"
          name="demo[]"
          chooseIcon="pi pi-upload"
          url="https://www.primefaces.org/cdn/api/upload.php"
          accept="image/*"
          maxFileSize="1000000"
          [auto]="true"
          chooseLabel="Browse" />
      </div>
    </div>

    <div class="grid gap-6">
      <span
        class="font-inter font-medium text-sm leading-5 tracking-normal align-middle text-[#4B5563]">
        Descripción del entregable
      </span>
      <app-textarea
        placeholder="Ingresa una descripción"
        optionValue="description"
        [rows]="5"
        [cols]="100" />
    </div>
  </div>

  <div class="grid rounded-2xl border border-[#E9EEF3] p-6">
    <div class="grid">
      <span class="font-inter font-semibold text-lg leading-[120%] tracking-normal text-[#036475]">
        Información del entregable
      </span>
      <span
        class="font-inter font-medium text-sm leading-5 tracking-normal align-middle text-[#4B5563]">
        Producto
      </span>
      <app-input placeholder="Producto 1" optionValue="productName" />
    </div>
  </div>
</div>
