p {
  margin: 0;
}

.container {
  @media (min-width: 1801px) {
    max-width: 1500px;
  }
}

.container-left {
  display: flex;
  margin: 25px 40px;
  margin-right: 20px;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;

  @media (min-width: 1801px) {
    max-width: 932px;
  }

  @media (max-height: 784px) {
    gap: 10px;
  }

  @media screen and (max-width: 1280px) {
    margin: 20px 30px;
  }
}

.title-text {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  background: linear-gradient(90deg, var(--primary-blue-600) 0%, var(--light-blue-200) 70%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--grey-400);
  margin: 0;
  margin-top: 10px;

  @media (max-height: 680px) {
    margin-top: 0px;
  }
}

.ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30vw;
}

.description {
  color: var(--grey-700);
  font-family: Barlow, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 5px;
}

.about-indicators {
  color: var(--light-blue-300);
  font-weight: 400;
  cursor: pointer;

  &:hover {
    color: var(--light-blue-400);
  }
}

.title {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--primary-blue-400);
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-height: 768px) {
    gap: 10px;
  }
}

.section {
  display: flex;
  flex-direction: column;

  .primary-item {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .primary-item-investigator {
      font-size: 14px;
      font-weight: 400;
      color: var(--grey-700);
    }

    .primary-item-investigator-name {
      color: var(--primary-blue-300);
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}

.subtitle {
  color: var(--grey-700);
  font-family: Barlow, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 6px;
}

.button-group {
  margin-top: 15px;
  display: flex;
  gap: 8px;

  @media (max-height: 768px) {
    margin-top: 10px;
  }
}

p-dropdown {
  width: 100%;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background-color: var(--grey-100);
  position: relative;
  z-index: 1;
  border-radius: 10px;
  width: 100%;
  transition: all 0.2s ease-in-out;

  .card-content {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    @media (max-height: 768px) {
      padding: 10px 20px;
    }
  }

  .card-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .material-symbols-rounded {
    color: var(--primary-blue-400);
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
  }
}

.card::after,
.card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #0f9, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: spin 2s linear infinite;
  animation-play-state: paused;
  opacity: 0.2;
  transition: all 0.2s ease-in-out;
}

.card::before {
  filter: blur(0.7rem);
}

.card:hover::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

.card:hover::after {
  opacity: 1;
}

.card:hover::after,
.card:hover::before {
  animation-play-state: running;
  border-radius: 10px;
}

::ng-deep .primary-contract-input {
  width: 100% !important;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

.under-construction-card {
  border: 1px dashed #ecae2b;
}

.under-construction-card::after {
  background-image: none !important;
}

.under-construction-card::before {
  background-image: none !important;
}

.under-construction-image {
  position: absolute;
  top: -15px;
  right: -12px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.construction-icon {
  width: 100%;
  height: 100%;
}

::ng-deep .p-scroller {
  height: 260px !important;
}

.sidebar-button-text {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  color: var(--light-blue-400);
  gap: 3px;

  &:hover {
    color: var(--primary-blue-500);
  }
}

.material-symbols-rounded {
  font-size: 16px;
  color: var(--light-blue-400);

  &:hover {
    color: var(--primary-blue-500);
  }
}

.sidebar-button-text::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--light-blue-400);

  &:hover {
    color: var(--primary-blue-500);
  }
}

.other-tools {
  @media (max-height: 800px) {
    padding: 15px;
    gap: 10px;
  }
}

.other-tool-item {
  img {
    max-width: 100%;
    max-height: 70px;
  }

  @media (max-height: 800px) {
    .other-tool-item-title {
      font-size: 16px;
    }

    .other-tool-item-description {
      font-size: 14px;
    }
  }

  @media (max-width: 1280px) {
    .other-tool-item-title {
      font-size: 16px;
    }

    .other-tool-item-description {
      font-size: 14px;
    }
  }
}
