<div class="flex flex-col items-center justify-center mx-10 mt-6">
  <p-table [value]="data" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-gridlines rounded-table" showGridlines>
    <ng-template pTemplate="header">
      <tr>
        @for (col of columns; track $index) {
        <th class="text-sm p-3 text-white" [class.rounded-tl-lg]="$index === 0" style="background-color: #f5f6fa">
          {{ col.header }}
        </th>
        }
        <th class="text-sm p-3 text-white rounded-tr-lg" style="background-color: #f5f6fa">Equipos</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        @if (rowData.rowspan > 0) {
        <td class="text-sm" [attr.rowspan]="rowData.rowspan" style="white-space: nowrap">{{ rowData.component }}</td>
        <td class="text-sm" [attr.rowspan]="rowData.rowspan">{{ rowData.componentDescription }}</td>
        }
        <td class="text-sm">{{ rowData.axis }}</td>
        <td class="text-sm">{{ rowData.axisDescription }}</td>

        <td class="text-sm">
          <a
            class="font-inter font-normal text-[16px] leading-6 align-middle underline decoration-solid decoration-0 underline-offset-0 whitespace-nowrap cursor-pointer"
            style="color: #047f94">
            Ver equipos del eje
          </a>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
